.navbar
{
    padding:var(--size-20) 0;
    /* position: fixed; */
    left: 0;
    right: 0;
    top: 0;
    width: 100%;
}

.logo-container
{
    width:var(--size-150);
    margin-right:auto;
}

.navbar-flex,
.nav-links
{
    display:flex;
    align-items:center;
    font-size:var(--size-14);
}

.nav-links li
{
    margin-right:var(--size-30);
}

.nav-links a 
{
    color:var(--font-color-base);
    font-weight:500;
}

header.header-container
{
    margin-top:var(--size-50);
}

header .container 
{
    display:flex;
    flex-wrap:wrap;
}

header .container > div 
{
    flex:1;
}

.empowerment-wrapper
{
    max-width:35rem;
}

.empowerment-wrapper h2 
{
    font-size:var(--size-30);
    font-weight:400;
    line-height:2rem;
    margin-bottom:var(--size-8);
}

.empowerment-wrapper p
{
    margin-bottom:var(--size-20);
}

.empowerment-wrapper .btn-primary
{
    margin-right:var(--size-20);
}

.empowerment-wrapper .link-selected
{
    font-weight:600;
}

.title-and-content h2
{
    color:var(--black);
}

.title-and-content p 
{
    color:var(--font-color-base);
}

a.link-selected
{
    color:var(--link-highlight);
}

.circle-logos 
{
    display:grid;
    grid-template-columns:repeat(8,1fr);
    grid-template-rows:repeat(5,1fr);
    justify-items:center;
    align-items:center;
}

.circle-logos li 
{
    position:relative;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    box-shadow:0px 0px 12px rgb(0,0,0,0.2);
    top:var(--size-50);
    opacity:0;
    animation-name:fade-in-top;
    animation-duration:0.2s;
    animation-timing-function:ease-out;
    animation-fill-mode:forwards;
}

.circle-logos li img 
{
    width:60%;
}

.circle-logos li.md
{
    width:4.688rem;
    height:4.688rem;
}

.circle-logos li.sm
{
    width:var(--size-50);
    height:var(--size-50);
} 

.circle-logos li.google-icon
{
    grid-column:3 / span 1;
    animation-delay:0.4s;
}

.circle-logos li.paypal-icon
{
    grid-column:2 / span 1;
    grid-row:4 / span 1;
    animation-delay:0.7s;
}

.circle-logos li.atlassian-icon
{
    grid-column:5 / span 1;
    animation-delay:0.5s;
}

.circle-logos li.asana-icon
{
    grid-column: 8 / span 1;
    animation-delay:0.6s;
}

.circle-logos li.google-a-icon
{
    grid-column:4 / span 1;
    grid-row:5 / span 1;
    animation-delay:0.8s;
}

.circle-logos li.weave-icon
{
    grid-column:6 / span 1;
    grid-row:4 / span 1;
    animation-delay:0.9s;
}

.circle-logos li.calendar-icon
{
    grid-column:8 / span 1;
    grid-row:9 / span 1;
    animation-delay:1s;
}

.section-introduction
{
    text-align:center;
    margin:var(--size-150) 0;
}

.section-introduction h2
{
    margin-bottom:0;
    font-weight:700;
}

@keyframes fade-in-top 
{
    from 
    {
        top:var(--size-50);
        opacity:0;
    }
    to 
    {
        top:0;
        opacity:1;
    }
}