
.navbar 
{
    padding:var(--size-20) 0;
}

.flex-and-align
{
    display:flex;
    align-items:center;
}

.bold
{
    font-weight:600;
}

.brand-logo 
{
    margin-right:auto;
    width:12.5rem;
}

.nav-links li
{
    margin-right:var(--size-30);
}

.nav-links li a 
{
    font-size:var(--size-20);
    font-weight:500;
    color:var(--font-color-base);
}


.flex-row > div 
{
    flex:1;
}

a .play-arrow-base
{
    background-color:white;
    color:var(--button-base);
    font-size:var(--size-14);
    margin-right:var(--size-10);
    padding:0.438rem var(--size-8) 0.438rem var(--size-10);
    border-radius:50%;
}




header h2 
{
    font-size:var(--size-50);
    font-weight:400;
    margin-bottom:0;
    line-height:3.5rem;
}

.title-and-content h2
{
    color:var(--black);
}

.title-and-content p 
{
    font-weight:500;
}

.nav-links .selected,
header .selected,
.benefit-card a.selected
{
    color:var(--link-highlight);
}

header
{
    padding:var(--size-100) 0;
}

.space-beneath
{
    padding-bottom:var(--size-100);
}

header .btn 
{
    margin-right:var(--size-40);
}

header .header-icon-container 
{
    position:relative;
    display:grid;
    grid-template-columns:repeat(4,1fr);
    grid-template-rows:repeat(5,1fr);
    justify-items:center;
    grid-gap:var(--size-10);
}

header .header-icon 
{
    box-shadow:0px 0px 15px rgba(11, 8, 8, 0.3);
    display:flex;
    justify-content:center;
    align-items:center;
    border-radius:50%;
    position:relative;
    top:var(--size-100);
    opacity:0;
    animation-name:fade-in-top;
    animation-delay:0.6s;
    animation-fill-mode:forwards;
    animation-timing-function:ease-out;
}

header .header-icon img 
{
    width:60%;
}

header .header-icon.sm 
{
    width:var(--size-100);
    height:var(--size-100);
}

header .header-icon.md 
{
    width:7.5rem;
    height:7.5rem;
}

.google-icon
{
    grid-column:2 / span 1;
    justify-self:left;
    animation-duration:0.4s;
}

.atlassian-icon
{
    grid-column:3 / span 1;
    justify-self:left;
    animation-duration:0.5s;

}

.asana-icon 
{
    grid-column: 4 / span 1;
    animation-duration:0.6s;

}

.paypal-icon
{
    grid-column:1 / span 1;
    grid-row: 3 / span 1;
    justify-self:right;
    animation-duration:0.7s;

}

.weave-icon 
{
    grid-column:3 / span 1;
    grid-row:3 / span 1;
    justify-self:right;
    animation-duration:0.8s;
}

.google-a-icon
{
    grid-column:2 / span 1;
    grid-row:4 / span 1;
    animation-duration:0.9s;
}

.calendar-icon
{
    grid-column:4 / span 1;
    grid-row:5 / span 1;
    animation-duration:1s;
}

.benefit-card-grid
{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(300px,1fr));
    grid-gap:var(--size-50);
}

.section-intro h2,
.section-intro p
{
    text-align:center;
}

.section-intro h2
{
    font-size:var(--size-40);
    margin-bottom:var(--size-8);
}

.section-intro p 
{
    font-size:var(--size-30);
}

.benefit-card 
{
    border:1px solid rgba(227, 227, 227, 0.3);
    padding:var(--size-40) var(--size-50);
    box-shadow:0px 20px 20px #e3e3e3;
}

.benefit-icon 
{
    width:var(--size-100);
}

.benefit-card .title-and-content h2
{
    font-size:var(--size-20);
}

.benefit-card .title-and-content p 
{
    font-size:var(--size-20);
}

.benefit-card a 
{
    font-size:var(--size-20);
}

.banner-section
{
    margin-bottom:var(--size-100);
}

.banner-section-columns 
{
    background-color:var(--background-color-soft);
    padding:var(--size-100) 0 0 var(--size-20);
    justify-content:space-between;
}

.column-left h2 
{
    color:var(--font-color-dark);
    line-height:2.87rem;
    font-size:var(--size-40);
    font-weight:400;
}

.component-nodes
{
    padding-bottom:12.5rem;
}

.component-nodes .container { justify-content:center; }

.node-container
{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    position:relative;
}

.node-container .node-circle
{
    width:5.313rem;
    height:5.313rem;
    background-color:var(--background-color-soft);
    border-radius:50%;
    position:relative;
    margin:0 5px;
}

.node-container .node-circle::before
{
    content:"";
    width:var(--size-10);
    height:var(--size-10);
    background-color:blue;
    position:absolute;
    left:45%;
    top:45%;
    border-radius:50%;
}

.node-and-line
{
    display:flex;
    align-items:center;
    margin-bottom:var(--size-20);
}

.node-line
{
    background-color:var(--background-color-soft);
    width:11.25rem;
    height:2px;
}

.node-line.hidden { opacity:0; }

.node-name
{
    color:var(--font-color-dark);
    font-size:var(--size-30);
}

.hubspot-video-container
{
    position:relative;
    margin-bottom:12.5rem;
}

.hubspot-play 
{
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50% -50%);
}

.director-image-column
{
    position:relative;
}

.director-image-column img 
{
    position:absolute;
}

.director-image 
{
    max-width:37.5rem;
    top: -25rem;
    left: 5.938rem;
    z-index: 5;

}

.dots-graphic
{
    max-width:21.25rem;
    top:-17.25rem;
}

.hubspot-logo 
{
    max-width:12.5rem;
}

.director-quote-column > h2 
{
    color: var(--black);
    font-size: var(--size-40);
    font-weight: 400;
    line-height: 3.5rem;
    margin: var(--size-50) 0;
}

.director-name h2 
{
    margin-bottom: 0;
    font-size: 2.188rem;
}

.director-name p 
{
    font-size: 1.75rem;
    font-weight: bold;
}

@keyframes fade-in-top
{
    from 
    { 
        top:var(--size-100); 
        opacity:0;
    }
    to 
    {
        top:0;
        opacity:1;
    }
}