.top-section-bg
{
    background:linear-gradient(
        115deg, 
        transparent 0%,
        rgba(221, 221, 221,0.4) 40%,
        rgba(221, 221, 221, 0.7) 70%,
        #e0e7ef 70%,
        #e0e7ef 100%
        );
}

/* #e0e7ef */

.navbar 
{
    position:fixed;
    top:0;
    right:0;
    left:0;
    width:100%;
    z-index:100;
    transition:ease-in-out 0.1s;
}

.navbar.sticky
{
    background-color:var(--white);
    border-bottom:1px solid rgba(27,27,27,0.1);
    box-shadow:0 0 12px rgba(27,27,27,0.1);
}

.navbar .container { padding:var(--size-20) var(--size-30); }

.navbar-toggler 
{
    position:absolute;
    right:var(--size-30);
    top:50%;
    outline:none;
    background-color:transparent;
    border:1px solid transparent;
    transform:translateY(-50%);
    cursor:pointer;
}

.navbar-toggler span 
{
    font-size:var(--size-30);
    color:var(--font-color-base);
    pointer-events:none;
}

.navbar-toggler .x-icon 
{
    display:none;
}

[aria-controls="navbarDropdown"] { display:none; }


.flex-and-align
{
    display:flex;
    align-items:center;
}

.bold { font-weight:600; }

.brand-logo { width:10rem; }

.push-right { margin-right:auto; }

.nav-links li { margin-right:var(--size-30); }

.flex-row > div 
{ 
    flex:1; 
}

a .play-arrow-base
{
    background-color:white;
    color:var(--button-base);
    font-size:var(--size-14);
    margin-right:var(--size-10);
    padding:0.438rem var(--size-8) 0.438rem var(--size-10);
    border-radius:50%;
}

header 
{ 
    padding-top:var(--size-200);
    position:relative;
    z-index:10;
}

header h2 
{
    font-size: 2.5rem;
    line-height: 3rem;
    font-weight:400;
    margin-bottom:var(--size-20);
    padding-right:var(--size-100);
}

header p { margin-bottom:var(--size-50); }

.title-and-content h2 { color:var(--black); }

.padding-beneath { padding-bottom:var(--size-50); }

.margin-beneath { margin-bottom:var(--size-50); }

header .btn { margin-right:var(--size-40); }

.header-icon-container 
{
    position:relative;
    display:grid;
    grid-template-columns:repeat(4,1fr);
    grid-template-rows:repeat(5,1fr);
    justify-items:center;
    grid-gap:var(--size-10);
}

.header-icon 
{
    background-color:var(--white);
    box-shadow:0px 0px 15px rgba(11, 8, 8, 0.3);
    display:flex;
    justify-content:center;
    align-items:center;
    border-radius:50%;
    position:relative;
    top:var(--size-100);
    opacity:0;
    animation-name:fade-in-top;
    animation-delay:0.6s;
    animation-fill-mode:forwards;
    animation-timing-function:ease-out;
}

.header-icon img { width:60%; }

.header-icon.sm 
{
    width:var(--size-50);
    height:var(--size-50);
}

.header-icon.md 
{
    width:4.688rem;
    height:4.688rem;
}

.google-icon
{
    grid-column:2 / span 1;
    justify-self:left;
    animation-duration:0.4s;
}

.atlassian-icon
{
    grid-column:3 / span 1;
    justify-self:left;
    animation-duration:0.5s;

}

.asana-icon 
{
    grid-column: 4 / span 1;
    animation-duration:0.6s;
}

.paypal-icon
{
    grid-column:1 / span 1;
    grid-row: 3 / span 1;
    justify-self:right;
    animation-duration:0.7s;
}

.weave-icon 
{
    grid-column:3 / span 1;
    grid-row:3 / span 1;
    justify-self:right;
    animation-duration:0.8s;
}

.google-a-icon
{
    grid-column:2 / span 1;
    grid-row:4 / span 1;
    animation-duration:0.9s;
}

.calendar-icon
{
    grid-column:4 / span 1;
    grid-row:5 / span 1;
    animation-duration:1s;
}

.benefits-section { margin-top:var(--size-50); }

.benefit-card-grid
{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(200px,1fr));
    grid-gap:var(--size-25);
}

.benefit-card-grid a 
{ 
    position:relative; 
    transition:all 0.2s ease-out;
    top:0;
}

.benefit-card-grid a:hover { top:-0.875rem; }

.section-intro h2,
.section-intro p
{
    text-align:center;
}

.section-intro h2
{
    font-size:var(--size-30);
    margin-bottom:var(--size-8);
}

.section-intro p { font-size:var(--size-20); }

.benefit-card 
{
    border:1px solid rgba(227, 227, 227, 0.3);
    padding:var(--size-20) var(--size-25);
    box-shadow:0px 20px 20px #e3e3e3;
    display:block;
}

.benefit-icon { width:var(--size-50); }

.benefit-card .title-and-content h2 { font-size:var(--size-20); }

.benefit-card .title-and-content p { font-size:var(--size-16); }

.banner-section-columns 
{
    background-color:var(--background-color-faded);
    padding:var(--size-100) 0 0 var(--size-20);
    justify-content:space-between;
}

.column-left h2 
{
    color:var(--font-color-dark);
    line-height:1.87rem;
    font-size:var(--size-30);
    font-weight:400;
    padding-right:var(--size-40);
}

.why-front-section > .section-intro 
{
    max-width:650px;
    margin:auto; 
}

.component-nodes { padding-bottom:var(--size-100); }

.component-nodes .container { justify-content:center; }

.node-container
{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    position:relative;
}

.node-container .node-circle
{
    width:var(--size-50);
    height:var(--size-50);
    background-color:rgba(236, 242, 255,0.7);
    border-radius:50%;
    position:relative;
    margin:0 5px;
}

.node-container .node-circle::before
{
    content:"";
    width:10%;
    height:10%;
    background-color:blue;
    position:absolute;
    left:45%;
    top:45%;
    border-radius:50%;
}

.node-and-line
{
    display:flex;
    align-items:center;
    margin-bottom:var(--size-20);
}

.node-line
{
    background-color:var(--background-color-soft);
    width:5rem;
    height:2px;
}

.node-line.hidden { opacity:0; }

.node-name
{
    color:var(--font-color-dark);
    font-size:var(--size-18);
}

.hubspot-video-container
{
    position:relative;
    margin-bottom:var(--size-100);
}

.hubspot-play 
{
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);
}

.hubspot-director-container { position:relative; }

.director-image-column img { position:absolute; }

.director-image 
{
    max-width:23rem;
    top: -3.75rem;
    left: var(--size-50);
    z-index: 5;
}

.dots-graphic
{
    max-width:14rem;
    top:0;
}

.hubspot-logo { max-width:8rem; }

.director-quote-column > h2 
{
    color: var(--black);
    font-size: var(--size-25);
    font-weight: 400;
    line-height: 2.5rem;
    margin: var(--size-30) 0;
}

.director-name h2 
{
    margin-bottom: 0;
    font-size: 1.188rem;
}

.director-name p 
{
    font-size: 1rem;
    font-weight: bold;
}

.trusted-company-section { margin:var(--size-100) 0; }

.trusted-company-section h2 
{
    font-size: var(--size-20);
    margin-bottom: var(--size-50);
}

.company-logos-container { justify-content:space-between; }

.company-logos-container img { max-width:var(--size-100); }

.pricing-section { margin-bottom:var(--size-200); }

.pricing-card-grid 
{
    display:grid;
    grid-template-columns:repeat(3,1fr);
    grid-gap:25px;
}

.monthly-price 
{
    grid-column:1 / span 1;
    grid-row:1 / span 2;
    width:22rem;
}

.benefit-card.monthly-price span:nth-child(1) 
{
    font-size:3.375rem;
    font-weight:400;
    color:var(--black);
}

.benefit-card.monthly-price span:nth-child(2) 
{
    margin:0 0 0 var(--size-10);
    font-weight:400;
    font-size:var(--size-20);
}

.monthly-price hr { margin:var(--size-20) 0 var(--size-50) 0; }

.monthly-price .btn-primary { margin:var(--size-50) 0 var(--size-10) 0; }

.monthly-price ~ .benefit-card 
{
    padding:var(--size-20);
    box-shadow:none;
    border:none;
}

.monthly-price ~ .benefit-card h2 { font-size:var(--size-20); }

.monthly-price ~ .benefit-card .benefit-icon { max-width:4.688rem; }

.components-card { grid-column:2 / span 1; }

.images-card { grid-column:3 / span 1; }

.cancel-card 
{
    grid-column:2 / span 1;
    grid-row:2 / span 1;
}

.money-back-card 
{
    grid-column:3 / span 1;
    grid-row: 2 / span 1;
}

.form-section
{
    background-color:var(--background-color-form);
    padding:var(--size-30) var(--size-20) var(--size-30) var(--size-50);
}
.hire-us h2
{
    color:var(--white);
    margin-bottom:0;
}

.hire-us h2,
.business-credit h2
{
    font-size:var(--size-25);
}

.hire-us-left { padding-right:var(--size-50); }

.hire-us p,
.hire-us-quote,
.business-credit p
{ font-size:var(--size-18); }

.hire-us-column hr 
{
    max-width:17.5rem;
    margin-left:0;
    color:var(--white);
    margin:var(--size-40) 0;
}

.hire-us-quote
{
    font-style:italic;
    color:var(--white);
}

.business-credit { margin:var(--size-100) 0; }

.business-credit h2 
{
    color:var(--white);
    margin:0;
}

.staff-profiles img 
{
    width:var(--size-50);
    height:var(--size-50);
    border-radius:50%;
    margin-right:var(--size-40);
}

.staff-profiles .staff-profile-lg
{
    width:4.688rem;
    height:4.688rem;
}

form 
{
    padding:var(--size-20);
    background:var(--white);
    border-radius:var(--size-16);
}

form * { font-size:var(--size-16); }

form h3
{
    font-size:var(--size-20);
    line-height:2rem;
    color:var(--black);
}

.input-field-grid 
{
    display:grid;
    grid-template-columns:1fr 1fr;
    grid-gap:var(--size-30);
}

.input-field-grid input,
.input-field-grid select
{
    padding:var(--size-16) var(--size-10);
}

.input-field-grid input,
.input-field-grid select,
.input-field-grid textarea
{
    border-radius:var(--size-10);
    border:2px solid var(--background-color-soft);
    font-weight:400;
    background-color:transparent;
}

.input-field-grid textarea 
{
    grid-column:1 / span 2;
    color:var(--font-color-soft);
    font-family:"Open Sans",sans-serif;
    padding:var(--size-10);
    resize:none;
    overflow:hidden;
}

form input[type="checkbox"]
{
    width:var(--size-60);
    height:var(--size-60);
    opacity:0.2;
    margin-right:var(--size-60);
}

.input-field-grid + div { margin:var(--size-30) 0; }

.policy-container { justify-content:space-evenly; }

.policy-container a 
{
    border-bottom:2px dashed;
    font-weight:600;
}

form input[type="submit"]
{
    display:block;
    margin:var(--size-40) auto var(--size-10) auto;
}

footer { padding:var(--size-100) var(--size-30) 0 var(--size-30); }

.footer-top
{
    border-bottom:1px solid var(--background-color-soft);
    padding-bottom:var(--size-50);
}

.footer-column-grid
{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(170px,1fr));
    justify-items:center;
}

.footer-col .brand-logo 
{
    width:7rem;
}

.footer-col h2
{
    color:var(--black);
    font-size:1.3rem;
}

.footer-col-list li { line-height:2rem; }

.footer-col i 
{
    width:var(--size-25);
    height:var(--size-25);
}

.footer-col a.btn-small
{
    font-size:var(--size-12);
    color:var(--white);
    margin-left:var(--size-14);
}

.footer-bottom > .container { padding-top:var(--size-50); }

.breadcrumbs li { margin-right: var(--size-12); }

.media-links li { margin-right:var(--size-30); }

.media-links a 
{
    background-color: var(--background-color-soft);
    width: var(--size-30);
    height: var(--size-30);
    display: block;
    position: relative;
    border-radius: 5px;
}

.media-links i
{
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    color:var(--icon-background-dark);
}

.media-links a.icon-selected 
{
    background-color:var(--icon-background-dark);
}

.media-links a.icon-selected i { color:var(--white); }

#country
{
    display: block;
    height: var(--size-30);
    font-size: var(--size-16);
    color: var(--black);
    padding: 5px 2.375rem;
    border: 1px solid var(--background-color-soft);
    background: var(--background-color-soft);
    border-radius: 5px;
}

.footer-copyright
{
    text-align:center;
}

.copyright-claim { margin:var(--size-30) 0; }

@keyframes fade-in-top
{
    from 
    { 
        top:var(--size-100); 
        opacity:0;
    }
    to 
    {
        top:0;
        opacity:1;
    }
}
