:root
{
     
/* DEFAULT FONT VARIABLES. PROPERTY(IN PIXELS): VALUE(IN REM); */
    --size-8:0.5rem;
    --size-10:0.625rem;
    --size-12:0.75rem;
    --size-14:0.875rem;
    --size-16:1rem;
    --size-18:1.125rem;
    --size-20:1.25rem;
    --size-25:1.563rem;
    --size-30:1.875rem;
    --size-40:2.5rem;
    --size-50:3.125rem;
    --size-60:3.75rem;
    --size-100:6.25rem;
    --size-150:9.375rem;
    --size-200:12.5rem;

/* COLOR VARIABLES */
    --button-base:#2476fe;
    --link-highlight:#659fff;
    --white:#fff;
    --black:#000;
    --font-color-base:#6f7e8e;
    --font-base-bold:#5f6267;
    --button-alternative:#01c8a7;
    --font-color-dark:#030303;
    --font-color-bright:#f6f7f9;
    --font-color-soft:#607082;
    --background-color-soft:rgba(224, 231, 239,1);
    --background-color-faded:rgba(244,231,239,0.2);
    --background-color-form:#20335b;
    /*--box-shadow:#e3e3e3;*/
    --icon-background-soft:rgb(236, 242, 255);
    --icon-background-dark:#677787;
}

body,
body a
{
    font-family:"Open Sans", sans-serif;
    font-weight:400;
    font-size:var(--size-16);
    line-height:1.6;
    letter-spacing:0;
    color:var(--font-color-base);
    margin:0;
    padding:0;
}

body a:hover { color:var(--link-highlight); }

*,
::after,
::before
{
    box-sizing:border-box;
}

ul
{
    padding:0;
    margin:0;
    list-style:none;
}

a { text-decoration:none; }

p { margin-top:0; }

img
{
    width:100%;
    max-width:100%;
    vertical-align:middle;
    border-style:none;
}

.container
{
    width:100%;
    padding-left:var(--size-25);
    padding-right:var(--size-25);
    margin-left:auto;
    margin-right:auto;
}

.btn 
{
    display:inline-block;
    text-align:center;
    cursor:pointer;
    user-select:none;
    background-color:transparent;
    border:1px solid transparent;
    border-radius:var(--size-30);
    color:var(--white);
}

.btn-primary
{
    background-color:var(--button-base);
    font-weight:500;
    padding:var(--size-14) var(--size-30);
}

.btn-sketch
{
    background-color:var(--button-alternative);
    font-weight:600;
    padding:0.188rem var(--size-14);
    margin:0 var(--size-16);
}

.btn-large
{
    font-size: 1.5rem;
    color: var(--black);
    background-color: var(--white);
    border-radius: 50%;
    box-shadow: 0 0 12px rgba(21,21,21,0.4);
    width: 5.313rem;
    height: 5.313rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-small
{
    padding:3px;
    border-radius:5px;
    line-height:1rem;
}

.highlighted 
{
    color:var(--link-highlight);
}


/*
==============================
MEDIA QUERIES

1024px

768px

400px
==============================
*/

