/*
==============================
MEDIA QUERIES

1024px

768px

400px
==============================
*/

/*
FOR IPADS AND TABLETS = PORTRAIT MODE
*/
@media screen and (max-width:768px)
{
   [aria-controls="navbarDropdown"]
   {
      display:block;
   }

   [aria-expanded="false"] ~ ul 
   {
      display:none;
   }

   [aria-expanded="true"] ~ ul 
   {
      display:flex;
      justify-content:center;
      position:absolute;
      background-color:var(--white);
      top:var(--size-100);
      left:0;
      right:0;
      width:100%;
      padding:var(--size-50) 0;
   }

   [aria-expanded="true"] ~ ul .buy-now-btn
   {
      flex:1 1 100%;
      text-align:center;
      margin-top:var(--size-100);
   }

   .flex-row
   {
      flex-wrap:wrap;
   }

   .flex-row > div { flex:1 1 400px; }

   .mobile-centered { text-align:center; }

   header .mobile-resize-text h2
   {
      font-size: 2.688rem;
      line-height: 3rem;
   }

   .padding-beneath { padding-bottom:var(--size-50); }

   .benefits-section
   {
      margin-top:var(--size-100);
   }

   .section-intro.mobile-resize-text h2
   {
      font-size:var(--size-25);
   }
   
   .section-intro.mobile-resize-text p 
   {
      font-size:var(--size-18);
   }

   .mobile-resize-icon .sm 
   {
      width:var(--size-50);
      height:var(--size-50);
   }

   .mobile-resize-icon .md 
   {
      width:5rem;
      height:5rem;
   }

   .mobile-resize-icon .header-icon { justify-self:center; }

   .mobile-resize-icon .google-icon { grid-column:1 / span 1; }

   .mobile-resize-icon .atlassian-icon { grid-column:2 / span 1; }
   
   .mobile-resize-icon .calendar-icon 
   { 
      grid-column:3 / span 1; 
      justify-self:flex-end;
   }
   /* header .container 
   {
      flex-wrap:wrap;
   } */

   

   /* header h2 
   {
      font-size: 2.688rem;
      line-height: 3rem;
   } */

   .header-icon-container
   {
      margin-top:var(--size-50);
   }
}

@media screen and (max-width:400px)
{
   [aria-expanded="true"] ~ ul > li 
   {
      flex:1 1 100%;
      text-align:center;
   }
}