/*
==============================
MEDIA QUERIES

1024px

768px

400px
==============================
*/

/*
FOR IPADS AND TABLETS = PORTRAIT MODE
*/
@media screen and (max-width:768px)
{
   [aria-controls="navbarDropdown"]
   {
      display:block;
   }

   [aria-expanded="false"] ~ ul 
   {
      display:none;
   }

   [aria-expanded="true"] ~ ul 
   {
      display:flex;
      justify-content:center;
      position:absolute;
      background-color:var(--white);
      top:var(--size-100);
      left:0;
      right:0;
      width:100%;
      padding:var(--size-50) 0;
   }

   [aria-expanded="true"] ~ ul .buy-now-btn
   {
      flex:1 1 100%;
      text-align:center;
      margin-top:var(--size-100);
   }

   .flex-row { flex-wrap:wrap; }

   .flex-row > div { flex:1 1 400px; }

   .mobile-centered { text-align:center; }

   header .mobile-resize-text h2
   {
      font-size: 2.688rem;
      /* line-height: 3rem; */
   }

   .padding-beneath { padding-bottom:var(--size-20); }

   .benefits-section { margin-top:var(--size-100); }

   .mobile-resize-text h2 
   { 
      font-size:var(--size-25); 
      line-height:3rem;
   }
   
   .mobile-resize-text p 
   { 
      font-size:var(--size-18);
      line-height:2.2rem;
   }

   .mobile-resize-text .btn-primary { font-size:var(--size-14); }

   .column-right { margin-top:var(--size-100); }

   .column-left h2 { line-height:2rem; }

   .mobile-resize-icon .sm 
   {
      width:var(--size-50);
      height:var(--size-50);
   }

   .mobile-resize-icon .md 
   {
      width:5rem;
      height:5rem;
   }

   .mobile-resize-icon .header-icon { justify-self:center; }

   .mobile-resize-icon .google-icon { grid-column:1 / span 1; }

   .mobile-resize-icon .atlassian-icon { grid-column:2 / span 1; }
   
   .mobile-resize-icon .calendar-icon 
   { 
      grid-column:3 / span 1; 
      justify-self:flex-end;
   }

   .header-icon-container
   {
      margin-top:var(--size-50);
   }

   .mobile-resize-card .benefit-card
   {
      padding:var(--size-20);
   }

   .mobile-resize-card .benefit-icon
   {
      width:var(--size-50);
   }

   .mobile-resize-card .benefit-card h2 
   {
      font-size:var(--size-16);
   }

   .mobile-resize-card .benefit-card p,
   .mobile-resize-card .benefit-card .btn-sketch, 
   .mobile-resize-card .benefit-card .highlighted 
   {
      font-size:var(--size-14);
   }

   .mobile-resize-card .benefit-card .btn-sketch
   {
      padding: 0.098rem var(--size-8);
   }

   .component-nodes
   {
      padding-bottom:var(--size-100);
   }

   .node-container .node-circle
   {
      width:var(--size-40);
      height:var(--size-40);
   }

   .node-name 
   {
      font-size:var(--size-16);
   }

   .node-line 
   {
      width:4.5rem;
      height:1px;
   }

   .director-image-column
   {
      margin-top:var(--size-200);
      margin-bottom: 18.75rem;
   }

   .btn-large 
   {
      width:4.375rem;
      height:4.375rem;
      font-size:1.25rem;
   }

   .director-image 
   {
      max-width:25.5rem;
      top:-22rem;
      left:4.938rem;
   }

   .dots-graphic
   {
      max-width:15.25rem;
      left:var(--size-16);
   }

   .director-quote-column
   {
      margin-top:var(--size-25);
   }

   .director-quote-column h2,
   .director-name
   {
      line-height:2rem;
   }

   .trusted-company-section 
   {
      margin:0;
   }

   .company-logos-container img 
   {
      max-width:var(--size-100);
   }

   .pricing-section
   {
      margin-top:var(--size-100);
   }
}

@media screen and (max-width:400px)
{
   [aria-expanded="true"] ~ ul > li 
   {
      flex:1 1 100%;
      text-align:center;
   }
}